@font-face {
  font-family: 'Alegreya SC';
  font-weight: 700;
  font-display: swap;
  src: url('../../fonts/alegreyasc-bold-webfont.woff2') format('woff2'), url('/fonts/alegreyasc-bold-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans 3';
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/sourcesans3-regular-webfont.ttf') format('ttf');
}
@font-face {
  font-family: 'Source Sans 3';
  font-weight: 500;
  font-display: swap;
  src: url('../../fonts/SourceSans3-SemiBold.ttf') format('ttf');
}
@font-face {
  font-family: 'Source Sans 3';
  font-weight: 700;
  font-display: swap;
  src: url('../../fonts/sourcesanspro-bold-webfont.ttf') format('ttf');
}
