@use '../abstracts/' as *;
.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  font-weight: fw(bold);
  text-transform: uppercase;
  // line-height: 1;
  border: 0;
  transition: all 250ms;
  padding: 1.125em 2em;

  //button variations
  &--accent {
    background-color: $button-accent-background;
    color: $button-accent-color;

    &:is(:hover, :focus) {
      background: $button-accent-background-hover;
      color: $button-accent-color-hover;
    }
  }

  &--primary {
    background-color: $button-primary-background;
    color: $button-primary-color;

    //button states
    &:is(:hover, :focus) {
      background: $button-primary-background-hover;
      color: $button-primary-color-hover;
    }
  }
}
